:root {
    /* colores */
    --negro: #383838;
    --rosa-solido: rgb(225,108,252);
    

    /* fuentes */
    --fuente-principal: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(src/imgs/BREAKINGBAD\ 1.png);
    background-position: center center;
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-size: cover;
    background-attachment: fixed;
}



/* GLOBAL */
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4 {
    font-family: var(--fuente-principal);
}

img {
    max-width: 100%;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}



/* HEADER/NAVBAR */
.header {
    padding: 4rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.contenedor-titulo {
    margin-left: 4rem;
    margin-top: 1.5rem;
}

.titulo {
    font-size: 3rem;
    font-family: var(--fuente-principal);
    font-weight: bold;
    background: rgb(225,108,252);
    background: linear-gradient(90deg, rgba(225,108,252,0.7595413165266106) 0%, rgba(255,140,235,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.titulo span {
    font-weight: 200;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    column-gap: 8rem;
}

#menu {
    width: 35px;
    height: 15px;
    transform: translateY(30%);
}

#notificacion {
    width: 30px;
    height: 35px;
}

#perfil {   
    width: 30px;
    height: 25px;
}

#navbar-texto {
    text-decoration: none;
    color: white;
    font-weight: 100 bold;
    font-size: 2rem;
    font-family: var(--fuente-principal);
}
@media screen and (max-width: 768px) {

    body {
        background-image: url(src/imgs/BREAKINGBAD\ 1-1.png) !important;
    }

    .header {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row; /* Cambia la dirección del flexbox a fila */
        text-align: center;
    }

    .contenedor-titulo {
        margin: 0;
        flex: 1; /* Ocupa todo el espacio disponible */
        text-align: center; /* Alinea el texto al centro */
        position: relative;
    }

    .titulo {
        font-size: 4rem;
    }

    .navbar {
        display: flex;
        align-items: center;
        column-gap: 1rem; /* Espacio entre los elementos */
    }

    #menu {
        order: -1; /* Coloca el menú antes en el orden visual */
        position: absolute;
    }

    #notificacion {
        display: none; /* Oculta el icono de notificación en móvil */
    }

    #perfil {
        order: 1; /* Asegura que el perfil esté a la derecha */
    }

    .agregar-pelicula  {
        display: none; /* Oculta el enlace "Agregar Película" en móvil */
    }
}





/* CUERPO PRINCIPAL */

.contenedor-principal {
    display: grid;
    justify-items: center; /* Alineación horizontal de todos los elementos del grid */
    grid-template-columns: repeat(3, 1fr); /* Corrección: 3 columnas, como indicado en el comentario */
    grid-template-rows: repeat(3, 1fr);
}

.main-title {
    grid-column: 1 / 3; /* Abarca 2 columnas */
    margin-top: 23%;
    grid-row: 2 / 4;
    font-family: var(--fuente-principal);
}

.main-title h1 {
    font-size: 8rem;
    background: -webkit-linear-gradient(left, rgb(225,108,252), rgb(255,105,180));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Hace el texto transparente, mostrando el degradado del fondo */
}
.main-title h3 {
    color: black;
    font-size: 1.5rem;
    font-family: var(--fuente-principal);
    font-weight: bold;
}

.main-title input {
    background-color: transparent; /* Hace el fondo transparente */
    border: none; /* Elimina el borde predeterminado */
    outline: none; /* Elimina el resaltado al enfocar */

}

/* BOTONES */

.button-container {
    display: flex;
    gap: 1rem;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button-primary {
    background-color: black;
}

/* CAROUSEL */
.carousel-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-column: 3 / 4;
    grid-row: 1 / 4;
    margin-top: 5rem;
    margin-left: 7rem;
}

.carousel-header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: 3.5rem;
    color: #fff;
    margin-bottom: 3rem;
}

.carousel-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-right: 5px;
}

.dropdown-icon {
    width: 7%;
}

.carousel-container {
    width: 200px; /* Ancho del carousel */
    height: 150%; /* Alto del carousel */
    position: relative;
    border-radius: 10px;
}


.carousel-arriba,
.carousel-abajo {
    width: 20px; /* Ajuste del tamaño de las flechas */
    height: auto;
    cursor: pointer;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-arriba {
    top: -5px; /* Ajuste de posición de la flecha arriba */
}

.carousel-abajo {
    bottom: -25px; /* Ajuste de posición de la flecha abajo */
}


.carousel-inner {
    display: flex;
    flex-direction: column; /* Dirección vertical */
    height: 100%;
    width: 100%;
    margin-top: 1rem;
}

.carousel-item {
    width: 100%;
    height: 150px; /* Altura de cada ítem del carousel */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.5s ease;
}

.carousel-item img:hover {
    transform: scale(1.05);
}







/* MEDIA QUIERIES */

@media (max-width: 500) { /* MOBILE */
    .header {
        padding: 2rem;
        flex-direction: column;
        align-items: flex-start;
    }

    .contenedor-titulo {
        margin-left: 0;
        margin-bottom: 1rem;
    }

    .titulo {
        font-size: 2rem;
    }

    .navbar {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
    }

    .agregar-pelicula {
        margin-bottom: 1rem;
    }

    .navbar div {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #menu {
        width: 30px;
        height: 30px;
    }

    #notificacion {
        width: 30px;
        height: 30px;
    }

    #perfil {
        width: 30px;
        height: 30px;
    }

    #navbar-texto {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) { /* TAMAÑO PROMEDIO DE TABLET */
    
}

@media (min-width: 1440) {
    
}