:root {
    /* colores */
    --negro: #383838;
    --rosa-solido: rgb(225,108,252);
    

    /* fuentes */
    --fuente-principal: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(src/imgs/BREAKINGBAD\ 1.png);
    background-position: center center;
    background-repeat: no-repeat; /* Evita que la imagen de fondo se repita */
    background-size: cover;
    background-attachment: fixed;
}

/* GLOBALES */

/* GLOBAL */
.contenedor {
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

h1,h2,h3,h4 {
    font-family: var(--fuenteHeading);
}

img {
    max-width: 100%;
}
.no-margin {
    margin: 0;
}
.no-padding {
    padding: 0;
}



/* HEADER/NAVBAR */
.header {
    padding: 3rem;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.contenedor-titulo {
    margin-left: 4rem;
    margin-top: 1.5rem;
}

.titulo {
    font-size: 5rem;
    font-family: var(--fuente-principal);
    font-weight: bold;
    background: rgb(225,108,252);
    background: linear-gradient(90deg, rgba(225,108,252,0.7595413165266106) 0%, rgba(255,140,235,1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline-block;
}

.titulo span {
    font-weight: 200;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    column-gap: 8rem;
}


#navbar-texto {
    text-decoration: none;
    color: white;
    font-weight: 100 bold;
    font-size: 2.6rem;
    font-family: var(--fuente-principal);
}


/* CUERPO PRINCIPAL */

.contenedor-principal {
    display: grid;
    justify-items: center; /* Alineación horizontal de todos los elementos del grid */
    grid-template-columns: repeat(3, 1fr); /* Corrección: 3 columnas, como indicado en el comentario */
    grid-template-rows: repeat(2, 1fr);
}

.main-title {
    grid-column: 1 / 3; /* Abarca 2 columnas */
    margin-top: 4rem;
    margin-right: 20rem;
    grid-row: 2 / 3;
    font-family: var(--fuente-principal);
}

.main-title h1 {
    font-size: 8rem;
    background: -webkit-linear-gradient(left, rgb(225,108,252), rgb(255,105,180));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent; /* Hace el texto transparente, mostrando el degradado del fondo */
}
.main-title h2 {
    color: black;
    font-size: 20rem;
    font-family: var(--fuente-principal);
    font-weight: bold;
}

.main-title input {
    background-color: transparent; /* Hace el fondo transparente */
    border: none; /* Elimina el borde predeterminado */
    outline: none; /* Elimina el resaltado al enfocar */

}

/* BOTONES */

.button-container {
    display: flex;
    gap: 1rem;
}

.button {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.button-primary {
    background-color: black;
}

/* CAROUSEL */

.sidebar {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    min-height: 68rem;
}